.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.text-field, .password-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-border-color: #6a6a6a;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-pref-width: 250px;
}

.list-view {
    -fx-background-color: #3c3f41;
    -fx-border-color: #6a6a6a;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
}
